
{% extends "contenido/encabezado.html" %}

{% block titulo %} Carrito {%endblock%}

{% block contenido%}
    <style>
        .contenedor{
            width: 800px;
            margin: 0 auto;
        }
        .acomodo{
            position: absolute;
            margin-left: 410px;
            margin-top: 80px;
        }
    </style>
   <br>
   <div class="bg-secondary mt-5 pt-3 pb-2">
        <div class="container">
            <h3 class="text-light fw-bold">Carrito</h3>
            <a href="#" class="text-light fs-6">Compras</a>
        </div>
   </div>

   <div>
        <div class="contenedor border border-dark mt-5">
            <div class="d-flex">
                    {%load static%}
                    <img src="{% static 'contenido/app/img/python.jpg'%}" class="img-fluid" alt="imagen-carrito">
                    <div class="p-3 d-flex justify-content-between mt-3">
                        <h5>Curso de 0 a master en python, para desarrollo web.</h5>
                        <h4 class="">Costo: <p class="text-danger">$350MX</p> </h4>
                        <h5 class="text-success acomodo">Eliminar</h5> 
                    </div>
            </div>
        </div> 
        <br>
        <br>
        <div class="contenedor mt-5 pt-5">
            <h3 class="d-flex justify-content-end">Total:</h3>
            <h4 class="text-danger fw-bold d-flex justify-content-end">$350MX</h4>
            <div class="d-flex justify-content-end">
                <button type="button" class="btn btn-danger text-light btn-lg">Comprar</button>
            </div>
            
        </div>
    </div>
   
{%endblock%}
