{% extends "contenido/encabezado.html" %} {% block titulo %} Mis cursos
{%endblock%} {% block contenido%}
<style>
  .contenedor {
    width: 1200px;
    margin: 0 auto;
  }
  .acomodo {
    position: absolute;
    margin-left: 410px;
    margin-top: 80px;
  }
</style>
<br />
<div class="bg-secondary mt-5 pb-2 pt-3">
  <div class="contenedor">
    <h3 class="text-light fw-bold">Mis cursos</h3>
    <a href="#" class="text-light fs-6">Todos los cursos</a>
  </div>
</div>

<div class="contenedor mt-5 pt-5">
  <div class="row">
    <div class="col-md-3">
      <div class="card" style="width: 18rem">
        {%load static%}
        <img
          src="{% static 'contenido/app/img/python.jpg'%}"
          class="card-img-top img-fluid"
          alt="curso-1"
        />
        <div class="card-body">
          <h5 class="card-title">
            Curso Maestro de Python 3: Aprende Desde Cero
          </h5>
          <p class="card-text">
            Aprende a programar con clases y objetos, a usar ficheros y bases de
            datos SQLite, interfaces gráficas y más con Python!
          </p>
          <div class="progress" style="height: 14px">
            <div
              class="progress-bar"
              role="progressbar"
              style="width: 25%"
              aria-valuenow="25"
              aria-valuemin="0"
              aria-valuemax="100"
            >
              25%
            </div>
          </div>
          <a href="#" style="text-decoration: none; color: black">
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card" style="width: 18rem">
        <img
          src="{% static 'contenido/app/img/redes.jpg'%}"
          class="card-img-top img-fluid"
          alt="curso-2"
        />
        <div class="card-body">
          <h5 class="card-title">
            Cisco CCNA Fundamentos de Networking para Redes IP
          </h5>
          <p class="card-text">
            El mejor curso para sentar unas bases sólidas a nivel teórico y
            práctico sobre Redes IP - CCENT / CCNA / CISCO
          </p>
          <div class="progress" style="height: 14px">
            <div
              class="progress-bar"
              role="progressbar"
              style="width: 25%"
              aria-valuenow="25"
              aria-valuemin="0"
              aria-valuemax="100"
            >
              25%
            </div>
          </div>
          <a href="#" style="text-decoration: none; color: black">
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card" style="width: 18rem">
        <img
          src="{% static 'contenido/app/img/animacion.jpg'%}"
          class="card-img-top img-fluid"
          alt="curso-3"
        />
        <div class="card-body">
          <h5 class="card-title">
            ANIMACIÓN de 0 a PRO: Crea Animaciones Creíbles y Únicas
          </h5>
          <p class="card-text">
            Las Basics + Basic & Advanced Body mechanics + Ciclos de caminar +
            Pantomima + Crea personajes únicos + Guía Blender.
          </p>
          <div class="progress" style="height: 14px">
            <div
              class="progress-bar"
              role="progressbar"
              style="width: 25%"
              aria-valuenow="25"
              aria-valuemin="0"
              aria-valuemax="100"
            >
              25%
            </div>
          </div>
          <a href="#" style="text-decoration: none; color: black">
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card" style="width: 18rem">
        <img
          src="{% static 'contenido/app/img/gestion.jpg'%}"
          class="card-img-top img-fluid"
          alt="curso-4"
        />
        <div class="card-body">
          <h5 class="card-title">
            Todo lo que debes aprender sobre la Gestión de proyectos TI.
          </h5>
          <p class="card-text">
            Certificación de Gestión de Proyectos para entrar en una industria
            que está agregando 1.5 Millones de empleos al año
          </p>
          <div class="progress" style="height: 14px">
            <div
              class="progress-bar"
              role="progressbar"
              style="width: 25%"
              aria-valuenow="25"
              aria-valuemin="0"
              aria-valuemax="100"
            >
              25%
            </div>
          </div>
          <a href="#" style="text-decoration: none; color: black">
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<br><br>
{%endblock%}
