
{% extends "contenido/encabezado.html" %}

{% block titulo %} Principal {%endblock%}

{% block contenido%}
<div class="container" style="margin-top: 90px; padding-top: 90px; padding-left: 60px;">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-6 text-justify">
            <h2 class="fw-bold">Aprende en cualquier lugar</h2>
            <h4 class="mt-4">Se parte de nuestra <strong>plataforma</strong> , </br>con siento de cursos, con </br>
                <strong>docentes</strong>
                capacitados para los </br> diferentes campos</h4>
            <div class="ms-5">
                <button type="button" class="btn btn-primary btn-lg mt-5">Aprende más</button>
            </div>
            <h4 class="mt-5">Con <strong>cursos</strong> nuevos en el campo </br> de la
                <strong>informatica.</strong>
            </h4>
            <h4>Y una sección con los proximos </br> cursos que saldrán.</h4>
        </div>
         {%load static%}
        <div class="col-sm-12 col-md-12 col-lg-6">
            <img src="{% static 'contenido/app/img/logohome.png'%}" class="img-fluid" alt="imagen-inicio">
        </div>
    </div>

</div>
{%endblock%}