
{% extends "contenido/encabezado.html" %}

{% block titulo %} Login {%endblock%}

{% block contenido%}
    <style>
        .contenedor{
            width: 440px;
            margin-top: 120px !important;
        }
    </style>
    <br>
    <br>
    <div class="contenedor mx-auto mt-5 p-4 border border-dark shadow mb-5 bg-body rounded">
        <div class="text-center">
            {%load static%}
            <img src="{% static 'contenido/app/img/login.png'%}" width="140px" alt="">
        </div>
        <form>
            <div class="mb-3 px-5 pt-3">
              <input type="email" class="form-control" id="usuario" placeholder="Introduce tu usuario">
            </div>
            <div class="mb-3 px-5">
              <input type="password" class="form-control" id="contraseña" placeholder="Introduce la contraseña">
            </div>
            <div class="d-grid gap-2 px-5 pt-2">
                <button type="submit" class="btn btn-primary fs-5">Iniciar Sesión</button>
            </div>
            <div class="d-grid gap-2 px-5 mt-2">
                <button type="submit" class="btn btn-primary fs-5">Registrate</button>
                <a href="#" class=" mt-2 text-center text-primary">¿Olvidaste tu contraseña?</a>
            </div>

        </form>
    </div>
{%endblock%}
